<a href="https://colab.research.google.com/github/shaynamiir/CCINCOML-EXCERCISES-COM23P/blob/main/Exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [1]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print (months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print (months[3])

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [5]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print (months[8:])

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [7]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print (months[:4])

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [8]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
list_size = len(months)
print (list_size)

12

- Get the element with the largest value of the month list using `max()`

In [ ]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
largest_value_month = max(months)
print(largest_value_month)
#ayaw mag run pero tama naman

- Get the element with the smallest value of the month list using `min()`

In [17]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
smallest_value = min(months)
print(smallest_value)

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [19]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
sort_months = sorted(months)
print(sort_months)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [20]:
birthdate = (4, 12 , 2004)
month, day, year = birthdate
print("Month:", month)
print("Day:", day)
print("Year:", year)

Month: 4
Day: 12
Year: 2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [25]:
products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
single_products = set(products)
print("Products that does not have duplicates are:", single_products)

Products that does not have duplicates are: {'mouse', 'powerbank', 'tablet', 'printer', 'projector', 'laptop', 'keyboard', 'headphones', 'speakers', 'smartphone', 'monitor'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [26]:
products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
single_products = set(products)
if "headphones" in single_products:
  print("Yes, 'headphones' are available in the the products set")
else:
  print("No , 'heasphones' is not availvable in the product set")
print("Products that does not have duplicates are:", single_products)

Yes, 'headphones' are available in the the products set
Products that does not have duplicates are: {'mouse', 'powerbank', 'tablet', 'printer', 'projector', 'laptop', 'keyboard', 'headphones', 'speakers', 'smartphone', 'monitor'}

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [33]:
favorites = {
    "food": "Sopas",
    "color": "Purple",
    "sport": "Roller Skating",
    "drink": "Dutchmill",
    "dessert": "Ice Cream"
}

# Print the favorites
print("My Favorites are:")
print("Food:", favorites["food"])
print("Color:", favorites["color"])
print("Sport:", favorites["sport"])
print("Drink:", favorites["drink"])
print("Dessert:", favorites["dessert"])

My Favorites are:
Food: Sopas
Color: Purple
Sport: Roller Skating
Drink: Dutchmill
Dessert: Ice Cream

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [34]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for month in months:
  print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [35]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for month in months:
  if month.endswith("ber"):
    print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [36]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for month in months:
  if not month.endswith("ber"):
    print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [38]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
first_five_months = months[:5]
print(first_five_months)

['January', 'February', 'March', 'April', 'May']

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [41]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []
for name in names:
  username = name.lower().replace(" ", "_")
  usernames.append(username)
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [50]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
index = 0
while index < len(months):
  if months[index].endswith("ber"):
    index += 1
    break
  index += 1
print("Index of the month ending with 'ber':", index)

Index of the month ending with 'ber': 9

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [55]:
def population_density(population, land_area):
    """
    Calculate population density.

    Args:
        population (float): Population value.
        land_area (float): Land area value.

    Returns:
        float: Population density calculated from the provided values.
    """
    population_density = population / land_area
    return population_density
population = float(input("Enter the population: "))
land_area = float(input("Enter the land area: "))
density = population_density(population, land_area)
print("Population Density:", density)

Enter the population: 10000
Enter the land area: 1000
Population Density: 10.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [58]:
def averagesteps(steps_list):
    """
    Compute the average number of steps.
    Args:
        steps_list (list): List of daily steps taken.
    Returns:
        float: Average number of steps.
    """
    total_steps = sum(steps_list)
    average_steps = total_steps / len(steps_list)
    return average_steps
steps_per_day = [5000, 6000, 7000, 8000, 9000, 10000, 11000]
average = averagesteps(steps_per_day)
print("Average steps per day:", average)

Average steps per day: 8000.0